* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #FAE6B4;
    font-size: 15px;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

#wrapper {
    margin: 1rem auto;
    width: 100%;
    height: 350px;
    display: grid;
    place-items: center;


}

#img {
    border-radius: 15px;
}

#capt {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 0.9rem;
}   



#title{
    color: darkblue;
    text-align: center;
    margin: 5px;
    padding: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text {
    width: 60%;  
    
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px auto;
    padding: 1em;  

}

.homebttn {
    width: 80px;
    height: 1.2em;
    color: goldenrod;
    background-color: black;
    padding: 1em;
    font-size: 0.8em;    
    margin: 5px;
    display: inline;
}

nav{
    display: flex;
    flex-direction: row;

}
